body {
  background-image: linear-gradient(
    to right,
    #7199cd,
    #6ca3d0,
    #6bacd2,
    #6fb5d2,
    #76bdd1
  );
  font-family: 'Roboto', sans-serif;
}

header,
main,
aside {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

hr {
  border: none;
  height: 1px;
  background-color: #999999;
  margin: 20px 0px 20px 0px;
}

input {
  border: 1px solid black;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  border-radius: 0.5rem;
  height: 1rem;
  padding: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.logo {
  width: 50px;
}

.main-header {
  display: inline;
  margin-left: 20px;
}

.margin {
  margin: 1rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.margin-small {
  margin: 0.25rem;
}

button {
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  grid-column: 1/-1;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: #51a5ff;
}

.container-master {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* width: 99vw; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.cart-totals {
  float: right;
  font-weight: 600;
}

.total {
  float: right;
}

.rounded {
  border-radius: 10px;
}

.padded {
  padding: 1rem;
}

.image-small {
  width: 5rem;
}

.col-bg-primary {
  background-color: #0069d9;
}

.col-bg-secondary {
  background-color: #ffe600;
}

.col-bg-secondary:hover {
  background-color: #fff170;
}

.col-bg-light {
  background-color: white;
}

.col-primary {
  color: #0069d9;
}

.col-light {
  color: white;
}

.col-dark {
  color: #222222;
}

.col-highlight {
  color: red;
}

.grid {
  grid: 1fr 1fr;
}
